# Ignore artifacts:
build
coverage
.next

# Ignore all HTML files:
*.html
*.md
*.svg

# Ignore lock files:
*-lock.json

# Ignore specific files:
thunder-collection_food_truck_as_a_service_postman.json
